---
const array = [
  "Водопроводных сетей",
  "Промышленных водоводов",
  "Канализационных сетей",
  "Газовых сетей подземной закладки",
  "Магистральных нефтегазопроводов",
];
---

<section id="tab-3">
  <h2>Преимущества битумно-аттактической (битумно-полимерной) изоляции.</h2>

  <p>
    Главная цель, с которой трубы и другие элементы трубопроводов покрывают
    битумно-аттактической изоляцией - защита от коррозии. Материалы,
    используемые при покрытии труб данной изоляцией, являются обсалютно
    устойчивыми к большинству коррозионных факторов - влажности, температурным
    перепадам, агрессивным средам. Битумная изоляция отвечает всем требованиям
    защиты трубопровода, обладая высокими прочностными характеристиками,
    стойкостью к механическим повреждениям и катодному отслаиванию, широким
    диапазоном рабочих температур, низкой влагонипроницаемостью, надёжной
    адгезией к стали тех сортов, из которых изготавливаются трубы. Благодаря
    этому битумная изоляция обеспечивает не только коррозийную устойчивость, но
    и дополнительную теплоизоляцию.
  </p>

  <ul>
    Битумная изоляция труб необходима при укладке трубопроводов различных типов:

    {
      array.map((el) => (
        <li>
          <svg width="16" height="16">
            <use xlink:href="/src/assets/sprites.svg#box" />
          </svg>

          {el}
        </li>
      ))
    }
  </ul>
</section>

<style lang="scss">
  section {
    padding: var(--p-section);

    ul {
      color: rgba(var(--c-dark), 0.6);
      margin: 20px 0 0;

      li {
        color: rgb(var(--c-dark));

        svg {
          margin: 10px 10px 0 0;
          vertical-align: text-bottom;
        }
      }
    }
  }
</style>
