---
import { links } from "../stores/useLinks";
---

<footer id="tab-5">
  <i>НВСС</i>

  <nav>
    <ul>
      {links.map((link) => <li data-tab={link.tab}>{link.name}</li>)}
    </ul>
  </nav>

  <nav>
    <ul>
      <li><a href="tel:+7 8442 91 11 99">+7 8442 91 11 99</a></li>

      <li>
        <p>
          © 2012 ОАО "Нижневолжскспецстрой" г. Волгоград, ул. Краснополянская,
          72Д
        </p>
      </li>

      <li><a href="mailto:nvss-a@yandex.ru ">nvss-a@yandex.ru</a></li>
    </ul>
  </nav>

  <p>© 2024. Все права защищены | политика конфиденциальности</p>
</footer>

<style lang="scss">
  footer {
    display: grid;
    grid-template: auto / auto 1fr;
    gap: 20px;
    padding: var(--p-section);
    place-items: center baseline;

    i {
      grid-column: 1 / -1;
    }

    p {
      opacity: 0.6;
    }

    nav {
      ul {
        li {
          cursor: pointer;
          margin: 10px 0;
          white-space: nowrap;
          width: fit-content;
        }
      }

      &:last-of-type {
        margin: 0 0 0 auto;

        ul {
          li {
            margin: 10px 0 10px auto;
            text-align: right;
            white-space: initial;
          }
        }
      }
    }

    @media only screen and (max-width: 720px) {
      grid-template: auto / 1fr;

      nav {
        &:last-of-type {
          margin: 0;

          ul {
            li {
              margin: 10px 0;
              text-align: initial;
            }
          }
        }
      }
    }
  }
</style>

<script>
  import { scrollToElement } from "../compossables/scrollToElements";

  const list = document.querySelectorAll(
    "nav > ul > li"
  ) as NodeListOf<HTMLElement>;

  list.forEach((li) => {
    li.addEventListener("click", (e) => {
      if (e.target instanceof HTMLElement && e.target.dataset.tab) {
        scrollToElement(e.target.dataset.tab);
      }
    });
  });
</script>
