---
import { links } from "../stores/useLinks";
---

<header>
  <i>НВСС</i>

  <svg width="34" height="20" class="show_menu">
    <use xlink:href="./assets/sprites.svg#menu"></use>
  </svg>

  <nav>
    <ul>
      {
        links.map((link) => (
          <li class={link.tab} data-tab={link.tab}>
            {link.name}
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style lang="scss">
  header {
    background-color: rgb(var(--c-light));
    display: grid;
    grid-template: auto / auto 1fr;
    gap: 20px;
    inset: 0;
    place-items: center baseline;
    padding: var(--p-section);
    position: sticky;
    z-index: 9;

    svg {
      display: none;
      margin: 0 0 0 auto;
    }

    nav {
      margin: auto;

      ul {
        display: grid;
        grid-auto-flow: column;
        gap: 40px;

        li {
          cursor: pointer;
          border-color: transparent;
          transition: border-color 0.3s ease-in-out;
          white-space: nowrap;
          width: fit-content;

          &.active {
            border-bottom: 1.5px solid rgb(var(--c-theme));
          }
        }
      }
    }

    @media only screen and (max-width: 920px) {
      nav {
        display: none;

        &.show {
          display: block;

          ul {
            grid-auto-flow: row;
            gap: 10px;
          }
        }
      }

      svg {
        display: block;
      }
    }
  }
</style>

<script>
  import { scrollToElement } from "../compossables/scrollToElements";

  const menu = document.querySelector(".show_menu") as SVGSVGElement;
  const nav = document.querySelector("nav") as HTMLDivElement;

  const list = document.querySelectorAll(
    "nav > ul > li"
  ) as NodeListOf<HTMLElement>;

  menu.addEventListener("click", () => {
    nav.classList.toggle("show");
  });

  list.forEach((li) => {
    li.addEventListener("click", (e) => {
      if (e.target instanceof HTMLElement && e.target.dataset.tab) {
        scrollToElement(e.target.dataset.tab);
      }

      nav.classList.remove("show");
    });
  });
</script>
